.container {
    margin-bottom: 25px;
    padding: 0 25px;
    h1 {
        margin-bottom: 10px;
    }
    input {
        min-width: 400px;
        height: 45px;
        padding: 0 20px;
        font-size: 22px;
    }
}
